body {
  margin: 50px;
  padding: 0px; 
}  
ul {
  padding-left: 18px;
}
.article{
  display: inline-block;
  box-sizing: border-box;
  width: 45%;
}
.header {
  text-decoration: underline;
  text-align: center;
}
.main {
  font-size: 20px;
}
.img1 {
  width: 200px;
  margin: 0px; 
}
.img2 {
  width: 95px;
  margin: 0px; 
}


